/* Шаблон */ /* 

.bg-color{
    background-color: color;
}

 */

 /* Все цвета были взяты с "https://colorscheme.ru/html-colors.html" */



/* Основные цвета */

.bg-black{
    background-color: black;
}

.bg-silver{
    background-color: silver;
}

.bg-white{
    background-color: white;
}

.bg-fuchsia{
    background-color: fuchsia;
}

.bg-purple{
    background-color: purple;
}

.bg-red{
    background-color: red;
}

.bg-maroon{
    background-color: maroon;
}

.bg-yellow{
    background-color: yellow;
}

.bg-olive{
    background-color: olive;
}

.bg-lime{
    background-color: lime;
}

.bg-green{
    background-color: green;
}

.bg-aqua{
    background-color: aqua;
}

.bg-teal{
    background-color: teal;
}

.bg-blue{
    background-color: blue;
}

.bg-navy{
    background-color: navy;
}



/* Красные тона */

.bg-indianred{
    background-color: indianred;
}

.bg-lightcoral{
    background-color: lightcoral;
}

.bg-salmon{
    background-color: salmon;
}

.bg-darksalmon{
    background-color: darksalmon;
}

.bg-lightsalmon{
    background-color: lightsalmon;
}

.bg-crimson{
    background-color: crimson;
}

.bg-firebrick{
    background-color: firebrick;
}

.bg-darkred{
    background-color: darkred;
}



/* Розовые тона */

.bg-pink{
    background-color: pink;
}

.bg-lightpink{
    background-color: lightpink;
}

.bg-hotpink{
    background-color: hotpink;
}

.bg-deeppink{
    background-color: deeppink;
}

.bg-mediumvioletred{
    background-color: mediumvioletred;
}

.bg-palevioletred{
    background-color: palevioletred;
}

/* Оранжевые тона */

.bg-coral{
    background-color: coral;
}

.bg-tomato{
    background-color: tomato;
}

.bg-orangered{
    background-color: orangered;
}

.bg-darkorange{
    background-color: darkorange;
}

.bg-orange{
    background-color: orange;
}



/* Жёлтые тона */

.bg-gold{
    background-color: gold;
}

.bg-yellow{
    background-color: yellow;
}

.bg-lightyellow{
    background-color: lightyellow;
}

.bg-lemonchiffon{
    background-color: lemonchiffon;
}

.bg-lightgoldenrodyellow{
    background-color: lightgoldenrodyellow;
}

.bg-papayawhip{
    background-color: papayawhip;
}

.bg-moccasin{
    background-color: moccasin;
}

.bg-peachpuff{
    background-color: peachpuff;
}

.bg-palegoldenrod{
    background-color: palegoldenrod;
}

.bg-khaki{
    background-color: khaki;
}

.bg-darkkhaki{
    background-color: darkkhaki;
}



/* Фиолетные тона */

.bg-lavender{
    background-color: lavender;
}

.bg-thistle{
    background-color: thistle;
}

.bg-plum{
    background-color: plum;
}

.bg-violet{
    background-color: violet;
}

.bg-orchid{
    background-color: orchid;
}

.bg-fuchsia{
    background-color: fuchsia;
}

.bg-magenta{
    background-color: magenta;
}

.bg-mediumorchid{
    background-color: mediumorchid;
}

.bg-mediumpurple{
    background-color: mediumpurple;
}

.bg-blueviolet{
    background-color: blueviolet;
}

.bg-darkviolet{
    background-color: darkviolet;
}

.bg-darkorchid{
    background-color: darkorchid;
}

.bg-darkmagenta{
    background-color: darkmagenta;
}

.bg-purple{
    background-color: purple;
}

.bg-indigo{
    background-color: indigo;
}

.bg-slateblue{
    background-color: slateblue;
}

.bg-darkslateblue{
    background-color: darkslateblue;
}

/* Коричневые тона */

.bg-cornsilk{
    background-color: cornsilk;
}

.bg-blanchedalmond{
    background-color: blanchedalmond;
}

.bg-bisque{
    background-color: bisque;
}

.bg-navajowhite{
    background-color: navajowhite;
}

.bg-wheat{
    background-color: wheat;
}

.bg-burlywood{
    background-color: burlywood;
}

.bg-tan{
    background-color: tan;
}

.bg-rosybrown{
    background-color: rosybrown;
}

.bg-sandybrown{
    background-color: sandybrown;
}

.bg-goldenrod{
    background-color: goldenrod;
}

.bg-darkgoldenrod{
    background-color: darkgoldenrod;
}

.bg-peru{
    background-color: peru;
}

.bg-chocolate{
    background-color: chocolate;
}

.bg-saddlebrown{
    background-color: saddlebrown;
}

.bg-sienna{
    background-color: sienna;
}

.bg-brown{
    background-color: brown;
}

.bg-maroon{
    background-color: maroon;
}

/* Зелёные тона */

.bg-greenyellow{
    background-color: greenyellow;
}

.bg-chartreuse{
    background-color: chartreuse;
}

.bg-lawngreen{
    background-color: lawngreen;
}

.bg-lime{
    background-color: lime;
}

.bg-limegreengreen{
    background-color: limegreen;
}

.bg-palegreen{
    background-color: palegreen;
}

.bg-lightgreen{
    background-color: lightgreen;
}

.bg-mediumspringgreen{
    background-color: mediumspringgreen;
}

.bg-springgreen{
    background-color: springgreen;
}

.bg-mediumseagreen{
    background-color: mediumseagreen;
}

.bg-seagreen{
    background-color: seagreen;
}

.bg-forestgreen{
    background-color: forestgreen;
}

.bg-green{
    background-color: green;
}

.bg-darkgreen{
    background-color: darkgreen;
}

.bg-yellowgreen{
    background-color: yellowgreen;
}

.bg-olivedrab{
    background-color: olivedrab;
}

.bg-olive{
    background-color: olive;
}

.bg-darkolivegreen{
    background-color: darkolivegreen;
}

.bg-mediumaquamarine{
    background-color: mediumaquamarine;
}

.bg-darkseagreen{
    background-color: darkseagreen;
}

.bg-lightseagreen{
    background-color: lightseagreen;
}

.bg-darkcyan{
    background-color: darkcyan;
}

.bg-teal{
    background-color: teal;
}

/* Синие тона */

.bg-aqua{
    background-color: aqua;
}

.bg-cyan{
    background-color: cyan;
}

.bg-lightcyan{
    background-color: lightcyan;
}

.bg-paleturquoise{
    background-color: paleturquoise;
}

.bg-aquamarine{
    background-color: aquamarine;
}

.bg-turquoise{
    background-color: turquoise;
}

.bg-mediumturquoise{
    background-color: mediumturquoise;
}

.bg-darkturquoise{
    background-color: darkturquoise;
}

.bg-cadetblue{
    background-color: cadetblue;
}

.bg-steelblue{
    background-color: steelblue;
}

.bg-lightsteelblue{
    background-color: lightsteelblue;
}

.bg-powderblue{
    background-color: powderblue;
}

.bg-lightblue{
    background-color: lightskyblue;
}

.bg-skyblue{
    background-color: skyblue;
}

.bg-lightskyblue{
    background-color: lightskyblue;
}

.bg-deepskyblue{
    background-color: deepskyblue;
}

.bg-dodgerblue{
    background-color: dodgerblue;
}

.bg-cornflowerblue{
    background-color: cornflowerblue;
}

.bg-mediumstateblue{
    background-color: mediumslateblue;
}

.bg-royalblue{
    background-color: royalblue;
}

.bg-blue{
    background-color: blue;
}

.bg-mediumblue{
    background-color: mediumblue;
}

.bg-darkblue{
    background-color: darkblue;
}

.bg-navy{
    background-color: navy;
}

.bg-midnightblue{
    background-color: midnightblue;
}

/* Белые тона */

.bg-white{
    background-color: white;
}

.bg-snow{
    background-color: snow;
}

.bg-honeydew{
    background-color: honeydew;
}

.bg-mintcream{
    background-color: mintcream;
}

.bg-azure{
    background-color: azure;
}

.bg-aliceblue{
    background-color: aliceblue;
}

.bg-ghostwhite{
    background-color: ghostwhite;
}

.bg-whitesmoke{
    background-color: whitesmoke;
}

.bg-seashell{
    background-color: seashell;
}

.bg-beige{
    background-color: beige;
}

.bg-oldlace{
    background-color: oldlace;
}

.bg-floralwhite{
    background-color: floralwhite;
}

.bg-ivory{
    background-color: ivory;
}

.bg-antiquewhite{
    background-color: antiquewhite;
}

.bg-linen{
    background-color: linen;
}

.bg-lavenderblush{
    background-color: lavenderblush;
}

.bg-mistyrose{
    background-color: mistyrose;
}

/* Серые тона */

.bg-gainsboro{
    background-color: gainsboro;
}

.bg-lightgrey{
    background-color: lightgrey;
}

.bg-lightgray{
    background-color: lightgray;
}

.bg-silver{
    background-color: silver;
}

.bg-darkgrey{
    background-color: darkgrey;
}

.bg-darkgray{
    background-color: darkgray;
}

.bg-gray{
    background-color: gray;
}

.bg-grey{
    background-color: grey;
}

.bg-dimgray{
    background-color: dimgray;
}

.bg-dimgrey{
    background-color: dimgrey;
}

.bg-lightslategray{
    background-color: lightslategray;
}

.bg-lightslategrey{
    background-color: lightslategrey;
}

.bg-slategray{
    background-color: slategray;
}

.bg-slategrey{
    background-color: slategrey;
}

.bg-darkslategray{
    background-color: darkslategray;
}

.bg-darkslategrey{
    background-color: darkslategrey;
}

.bg-black{
    background-color: black;
}