/* Проявление/Скольжение элемента при загрузке страницы */
.loading-fade-in {
    animation: loading-fade-in 0.6s ease forwards; /* forwards сохраняет конечное состояние */
}
@keyframes loading-fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.loading-fade-in-up {
    animation: loading-fade-in-up 0.6s ease forwards; /* forwards сохраняет конечное состояние */
}
@keyframes loading-fade-in-up {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.loading-fade-in-down {
    animation: loading-fade-in-down 0.6s ease forwards; /* forwards сохраняет конечное состояние */
}
@keyframes loading-fade-in-down {
  from { opacity: 0; transform: translateY(-20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.loading-fade-in-left {
    animation: loading-fade-in-left 0.6s ease forwards; /* forwards сохраняет конечное состояние */
}
@keyframes loading-fade-in-left {
  from { opacity: 0; transform: translateX(20px); }
  to   { opacity: 1; transform: translateX(0); }
}

.loading-fade-in-right {
    animation: loading-fade-in-right 0.6s ease forwards; /* forwards сохраняет конечное состояние */
}
@keyframes loading-fade-in-right {
  from { opacity: 0; transform: translateX(-20px); }
  to   { opacity: 1; transform: translateX(0); }
}


/* Скольжение элемента при загрузке страницы */
.loading-slide-up {
  animation: loading-slide-up 0.6s ease forwards;
}
@keyframes loading-slide-up {
  from { transform: translateY(20px); }
  to   { transform: translateY(0); }
}

.loading-slide-down {
  animation: loading-slide-down 0.6s ease forwards;
}
@keyframes loading-slide-down {
  from { transform: translateY(-20px); }
  to   { transform: translateY(0); }
}

.loading-slide-left {
  animation: loading-slide-left 0.6s ease forwards;
}
@keyframes loading-slide-left {
  from { transform: translateX(20px); }
  to   { transform: translateX(0); }
}

.loading-slide-right {
  animation: loading-slide-right 0.6s ease forwards;
}
@keyframes loading-slide-right {
  from { transform: translateX(-20px); }
  to   { transform: translateX(0); }
}


/* Проявление/Увеличение элемента при загрузке страницы */
.loading-zoom {
  animation: loading-zoom 0.6s ease forwards;
}
@keyframes loading-zoom {
  from { opacity: 0; transform: scale(0.5); }
  to   { opacity: 1; transform: translateX(1); }
}

.loading-zoom-up {
  animation: loading-zoom-up 0.6s ease forwards;
}
@keyframes loading-zoom-up {
  from { opacity: 0; transform: scale(0.5); transform: translateY(20px); }
  to   { opacity: 1; transform: translateX(1); transform: translateY(0); }
}

.loading-zoom-down {
  animation: loading-zoom-down 0.6s ease forwards;
}
@keyframes loading-zoom-down {
  from { opacity: 0; transform: scale(0.5); transform: translateY(-20px); }
  to   { opacity: 1; transform: translateX(1); transform: translateY(0); }
}

.loading-zoom-left {
  animation: loading-zoom-left 0.6s ease forwards;
}
@keyframes loading-zoom-left {
  from { opacity: 0; transform: scale(0.5); transform: translateX(20px); }
  to   { opacity: 1; transform: translateX(1); transform: translateX(0); }
}

.loading-zoom-right {
  animation: loading-zoom-right 0.6s ease forwards;
}
@keyframes loading-zoom-right {
  from { opacity: 0; transform: scale(0.5); transform: translateX(-20px); }
  to   { opacity: 1; transform: translateX(1); transform: translateX(0); }
}


/* Выезд элемента при загрузке страницы */
.loading-slide-screen-up {
  animation: loading-slide-screen-up 0.6s ease forwards;
}
@keyframes loading-slide-screen-up {
  from { transform: translateY(100%); }
  to   { transform: translateY(0); }
}

.loading-slide-screen-down {
  animation: loading-slide-screen-down 0.6s ease forwards;
}
@keyframes loading-slide-screen-down {
  from { transform: translateY(-100%); }
  to   { transform: translateY(0); }
}

.loading-slide-screen-Left {
  animation: loading-slide-screen-left 0.6s ease forwards;
}
@keyframes loading-slide-screen-left {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}

.loading-slide-screen-right {
  animation: loading-slide-screen-right 0.6s ease forwards;
}
@keyframes loading-slide-screen-right {
  from { transform: translateX(-100%); }
  to   { transform: translateX(0); }
}

/* То же самое по диагонали */
.loading-slide-screen-up-left {
  animation: loading-slide-screen-up-left 0.6s ease forwards;
}
@keyframes loading-slide-screen-up-left {
  from { transform: translate(100%, -100%); }
  to   { transform: translate(0, 0); }
}

.loading-slide-screen-up-right {
  animation: loading-slide-screen-up-right 0.6s ease forwards;
}
@keyframes loading-slide-screen-up-right {
  from { transform: translate(-100%, 100%); }
  to   { transform: translate(0, 0); }
}

.loading-slide-screen-down-left {
  animation: loading-slide-screen-down-left 0.6s ease forwards;
}
@keyframes loading-slide-screen-down-left {
  from { transform: translate(-100%, 100%); }
  to   { transform: translate(0, 0); }
}

.loading-slide-screen-down-right {
  animation: loading-slide-screen-down-right 0.6s ease forwards;
}
@keyframes loading-slide-screen-down-right {
  from { transform: translate(100%, 100%); }
  to   { transform: translate(0, 0); }
}

/* Увеличение элемента из ничего в полный размер при загрузке страницы */
/* Комментарий от автора: "Хорошо применять к body, выглядит более современно" */
.loading-scale-in {
  animation: loading-scale-in 0.6s ease forwards;
}
@keyframes loading-scale-in {
  from { transform: scale(0); }
  to   { transform: scale(1); }
}


/* 360° вправо/влево + увеличение 0-100% при загрузке страницы */
.loading-360-right {
  animation: loading-360-right 0.6s ease forwards;
}
@keyframes loading-360-right {
  from { transform: rotate(-360deg); }
  to   { transform: rotate(0deg); }
}

.loading-360-left {
  animation: loading-360-left 1s ease forwards;
}
@keyframes loading-360-left {
  from { transform: rotate(360deg); }
  to   { transform: rotate(0deg); }
}

.loading-scale-360-right {
  animation: loading-scale-360-right 1s ease forwards;
}
@keyframes loading-scale-360-right {
from { transform: scale(0) rotate(0deg); }
to   { transform: scale(1) rotate(360deg); }
}

.loading-scale-360-left {
  animation: loading-scale-360-left 1s ease forwards;
}
@keyframes loading-scale-360-left {
from { transform: scale(0) rotate(0deg); }
to   { transform: scale(1) rotate(360deg); }
}
