/* Изменение размера элемента при наведении курсора */
.hover-scale-small-animation {
  transition: transform 0.5s ease;
  transform: scale(1);
}
.hover-scale-small-animation:hover {
  transform: scale(0.9);
}

.hover-scale-big-animation {
  transition: transform 0.5s ease;
  transform: scale(1);
}
.hover-scale-big-animation:hover {
  transform: scale(1.1);
}

/* Пульсирование элемента при наведении курсора */

.hover-pulse-animation {
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}
.hover-pulse-animation:hover {
  animation: hoverPulseAnimation 1s ease-in-out infinite;
}
@keyframes hoverPulseAnimation{
  0%   { transform: scale(1); }   /* Начинаем исходного размера */
  50%  { transform: scale(1.1); }   /* Увеличиваем размер */
  100% { transform: scale(1); }   /* Возвращаемся к исходному */
}

/* Появление тени у элемента при наведении */
.hover-shadow-animation:hover {
  animation: hoverShadowAddAnimation 1s ease-in-out forwards;
}
@keyframes hoverShadowAddAnimation{
  0%   { box-shadow: none; }
  50%  { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
  100% { box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5); }
}


/* Прокрутка элемента на 360° при наведении */
/* Базовый переход для плавного поворота в обе стороны */
.hover-rotate-animation {
  transition: transform 0.6s ease-in-out;
}
/* При наведении поворачиваем на 360° */
.hover-rotate-animation:hover {
  transform: rotate(360deg);
  transition: transform 0.9s ease-in-out; /* скорость поворота при наведении */
}
/* Обратно */
.hover-rotate-animation-reverse {
  transition: transform 0.6s ease-in-out;
}
/* При наведении поворачиваем на 360° */
.hover-rotate-animation-reverse:hover {
  transform: rotate(-360deg);
  transition: transform 0.9s ease-in-out; /* скорость поворота при наведении */
}


/* При наведении, увеличение/уменьшение, поворот, приподнимание/приопускание элемента */
.hover-smooth-selection-1 {
  transition: all 0.5s ease-in-out;
}
.hover-smooth-selection-1:hover {
  transform: scale(1.05) rotate(10deg) translateY(-10px);
}

/* Вариант 2 */
.hover-smooth-selection-2 {
  transition: all 0.5s ease-in-out;
}
.hover-smooth-selection-2:hover {
  transform: scale(0.95) rotate(10deg) translateY(10px);
}

/* Вариант 3 */
.hover-smooth-selection-3 {
  transition: all 0.5s ease-in-out;
}
.hover-smooth-selection-3:hover {
  transform: scale(1.05) rotate(10deg) translateY(-10px);
}

/* Вариант 4 */
.hover-smooth-selection-4 {
  transition: all 0.5s ease-in-out;
}
.hover-smooth-selection-4:hover {
  transform: scale(1.05) rotate(-10deg) translateY(-10px);
}

/* Вариант 5 */
.hover-smooth-selection-5 {
  transition: all 0.5s ease-in-out;
}
.hover-smooth-selection-5:hover {
  transform: scale(0.95) rotate(-10deg) translateY(10px);
}

/* Вариант 6 */
.hover-smooth-selection-6 {
  transition: all 0.5s ease-in-out;
}
.hover-smooth-selection-6:hover {
  transform: scale(1.05) rotate(-10deg) translateY(-10px);
}


/* Блюр элемента при наведении */
.hover-blur-1:hover {
    filter: blur(1px);
}

.hover-blur-2:hover {
    filter: blur(2px);
}

.hover-blur-3:hover {
    filter: blur(3px);
}

.hover-blur-4:hover {
    filter: blur(4px);
}

.hover-blur-5:hover {
    filter: blur(5px);
}

.hover-blur-6:hover {
    filter: blur(6px);
}

.hover-blur-7:hover {
    filter: blur(7px);
}

.hover-blur-8:hover {
    filter: blur(8px);
}

.hover-blur-9:hover {
    filter: blur(9px);
}

.hover-blur-10:hover {
    filter: blur(10px);
}

/* Антиблюр элемента при наведении */
/* 1 */
.hover-antiblur-1 {
    filter: blur(1px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-1:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 2 */
.hover-antiblur-2 {
    filter: blur(2px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-2:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 3 */
.hover-antiblur-3 {
    filter: blur(3px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-3:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 4 */
.hover-antiblur-4 {
    filter: blur(4px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-4:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 5 */
.hover-antiblur-5 {
    filter: blur(5px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-5:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 6 */
.hover-antiblur-6 {
    filter: blur(6px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-6:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 7 */
.hover-antiblur-7 {
    filter: blur(7px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-7:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 8 */
.hover-antiblur-8 {
    filter: blur(8px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-8:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 9 */
.hover-antiblur-9 {
    filter: blur(9px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-9:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 10 */
.hover-antiblur-10 {
    filter: blur(10px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-antiblur-10:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}


/* Эффект Glitch с помощью цвета */
.hover-rgb-glitch {
    position: relative;
    transition: all 0.05s linear;
}

.hover-rgb-glitch:hover {
    animation: rgb-glitch 0.16s infinite;
    color: white;
}

@keyframes rgb-glitch {
    0% {
        background: #00ff00;
        text-shadow: -3px 0 #ff0000, 3px 0 #00ffff;
        transform: translate(0);
    }
    20% {
        background: #ff0000;
        text-shadow: 3px 0 #ff0000, -3px 0 #00ff00;
        transform: translate(-1px, 1px);
    }
    40% {
        background: #ff00ff;
        text-shadow: -3px 0 #00ff00, 3px 0 #ff00ff;
        transform: translate(1px, -1px);
    }
    60% {
        background: #ffff00;
        text-shadow: 3px 0 #ff00ff, -3px 0 #00ffff;
        transform: translate(-1px, 0);
    }
    80% {
        background: #ff0000;
        text-shadow: -3px 0 #ffff00, 3px 0 #ff0000;
        transform: translate(1px, 1px);
    }
    100% {
        background: #00ff00;
        text-shadow: 3px 0 #ff0000, -3px 0 #00ffff;
        transform: translate(0);
    }
}

/* Only text Glitch */
.hover-text-glitch {
    position: relative;
    transition: all 0.05s linear;
}

.hover-text-glitch:hover {
    animation: hover-text-glitch 0.2s infinite;
    color: white;
}

@keyframes hover-text-glitch {
    0% {
        text-shadow: -3px 0 #ff0000, 3px 0 #00ffff;
        transform: translate(0);
    }
    20% {
        text-shadow: 3px 0 #ff0000, -3px 0 #00ff00;
        transform: translate(-1px, 1px);
    }
    40% {
        text-shadow: -3px 0 #00ff00, 3px 0 #ff00ff;
        transform: translate(1px, -1px);
    }
    60% {
        text-shadow: 3px 0 #ff00ff, -3px 0 #00ffff;
        transform: translate(-1px, 0);
    }
    80% {
        text-shadow: -3px 0 #ffff00, 3px 0 #ff0000;
        transform: translate(1px, 1px);
    }
    100% {
        text-shadow: 3px 0 #ff0000, -3px 0 #00ffff;
        transform: translate(0);
    }
}
