/* Изменение размера элемента при наведении курсора */
.hoverScaleSmallAnimation {
  transition: transform 0.5s ease;
  transform: scale(1);
}
.hoverScaleSmallAnimation:hover {
  transform: scale(0.9);
}

.hoverScaleBigAnimation {
  transition: transform 0.5s ease;
  transform: scale(1);
}
.hoverScaleBigAnimation:hover {
  transform: scale(1.1);
}

/* Пульсирование элемента при наведении курсора */

.hoverPulseAnimation {
  transition: transform 0.5s ease-in-out;
  transform: scale(1);
}
.hoverPulseAnimation:hover {
  animation: hoverPulseAnimation 1s ease-in-out infinite;
}
@keyframes hoverPulseAnimation{
  0%   { transform: scale(1); }   /* Начинаем исходного размера */
  50%  { transform: scale(1.1); }   /* Увеличиваем размер */
  100% { transform: scale(1); }   /* Возвращаемся к исходному */
}

/* Появление тени у элемента при наведении */
.hoverShadowAnimation:hover {
  animation: hoverShadowAddAnimation 1s ease-in-out forwards;
}
@keyframes hoverShadowAddAnimation{
  0%   { box-shadow: none; }
  50%  { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
  100% { box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5); }
}


/* Прокрутка элемента на 360° при наведении */
/* Базовый переход для плавного поворота в обе стороны */
.hoverRotateAnimation {
  transition: transform 0.6s ease-in-out;
}
/* При наведении поворачиваем на 360° */
.hoverRotateAnimation:hover {
  transform: rotate(360deg);
  transition: transform 0.9s ease-in-out; /* скорость поворота при наведении */
}
/* Обратно */
.hoverRotateAnimationReverse {
  transition: transform 0.6s ease-in-out;
}
/* При наведении поворачиваем на 360° */
.hoverRotateAnimationReverse:hover {
  transform: rotate(-360deg);
  transition: transform 0.9s ease-in-out; /* скорость поворота при наведении */
}


/* При наведении, увеличение/уменьшение, поворот, приподнимание/приопускание элемента */
.hoverSmoothSelection-1 {
  transition: all 0.5s ease-in-out;
}
.hoverSmoothSelection-1:hover {
  transform: scale(1.05) rotate(10deg) translateY(-10px);
}

/* Вариант 2 */
.hoverSmoothSelection-2 {
  transition: all 0.5s ease-in-out;
}
.hoverSmoothSelection-2:hover {
  transform: scale(0.95) rotate(10deg) translateY(10px);
}

/* Вариант 3 */
.hoverSmoothSelection-3 {
  transition: all 0.5s ease-in-out;
}
.hoverSmoothSelection-3:hover {
  transform: scale(1.05) rotate(10deg) translateY(-10px);
}

/* Вариант 4 */
.hoverSmoothSelection-4 {
  transition: all 0.5s ease-in-out;
}
.hoverSmoothSelection-4:hover {
  transform: scale(1.05) rotate(-10deg) translateY(-10px);
}

/* Вариант 5 */
.hoverSmoothSelection-5 {
  transition: all 0.5s ease-in-out;
}
.hoverSmoothSelection-5:hover {
  transform: scale(0.95) rotate(-10deg) translateY(10px);
}

/* Вариант 6 */
.hoverSmoothSelection-6 {
  transition: all 0.5s ease-in-out;
}
.hoverSmoothSelection-6:hover {
  transform: scale(1.05) rotate(-10deg) translateY(-10px);
}


/* Блюр элемента при наведении */
.hoverBlur-1:hover {
    filter: blur(1px);
}

.hoverBlur-2:hover {
    filter: blur(2px);
}

.hoverBlur-3:hover {
    filter: blur(3px);
}

.hoverBlur-4:hover {
    filter: blur(4px);
}

.hoverBlur-5:hover {
    filter: blur(5px);
}

.hoverBlur-6:hover {
    filter: blur(6px);
}

.hoverBlur-7:hover {
    filter: blur(7px);
}

.hoverBlur-8:hover {
    filter: blur(8px);
}

.hoverBlur-9:hover {
    filter: blur(9px);
}

.hoverBlurlur-10:hover {
    filter: blur(10px);
}

/* Антиблюр элемента при наведении */
/* 1 */
.hoverAntiblur-1 {
    filter: blur(1px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-1:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 2 */
.hoverAntiblur-2 {
    filter: blur(2px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-2:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 3 */
.hoverAntiblur-3 {
    filter: blur(3px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-3:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 4 */
.hoverAntiblur-4 {
    filter: blur(4px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-4:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 5 */
.hoverAntiblur-5 {
    filter: blur(5px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-5:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 6 */
.hoverAntiblur-6 {
    filter: blur(6px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-6:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 7 */
.hoverAntiblur-7 {
    filter: blur(7px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-7:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 8 */
.hoverAntiblur-8 {
    filter: blur(8px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-8:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 9 */
.hoverAntiblur-9 {
    filter: blur(9px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-9:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
/* 10 */
.hoverAntiblur-10 {
    filter: blur(10px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hoverAntiblur-10:hover {
    filter: blur(0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}


/* Эффект Glitch с помощью цвета */
.hoverRGBGlitch {
    position: relative;
    transition: all 0.05s linear;
}

.hoverRGBGlitch:hover {
    animation: rgbGlitch 0.16s infinite;
    color: white;
}

@keyframes rgbGlitch {
    0% {
        background: #00ff00;
        text-shadow: -3px 0 #ff0000, 3px 0 #00ffff;
        transform: translate(0);
    }
    20% {
        background: #ff0000;
        text-shadow: 3px 0 #ff0000, -3px 0 #00ff00;
        transform: translate(-1px, 1px);
    }
    40% {
        background: #ff00ff;
        text-shadow: -3px 0 #00ff00, 3px 0 #ff00ff;
        transform: translate(1px, -1px);
    }
    60% {
        background: #ffff00;
        text-shadow: 3px 0 #ff00ff, -3px 0 #00ffff;
        transform: translate(-1px, 0);
    }
    80% {
        background: #ff0000;
        text-shadow: -3px 0 #ffff00, 3px 0 #ff0000;
        transform: translate(1px, 1px);
    }
    100% {
        background: #00ff00;
        text-shadow: 3px 0 #ff0000, -3px 0 #00ffff;
        transform: translate(0);
    }
}

/* Only text Glitch */
.hoverTextGlitch {
    position: relative;
    transition: all 0.05s linear;
}

.hoverTextGlitch:hover {
    animation: hoverTextGlitch 0.2s infinite;
    color: white;
}

@keyframes hoverTextGlitch {
    0% {
        text-shadow: -3px 0 #ff0000, 3px 0 #00ffff;
        transform: translate(0);
    }
    20% {
        text-shadow: 3px 0 #ff0000, -3px 0 #00ff00;
        transform: translate(-1px, 1px);
    }
    40% {
        text-shadow: -3px 0 #00ff00, 3px 0 #ff00ff;
        transform: translate(1px, -1px);
    }
    60% {
        text-shadow: 3px 0 #ff00ff, -3px 0 #00ffff;
        transform: translate(-1px, 0);
    }
    80% {
        text-shadow: -3px 0 #ffff00, 3px 0 #ff0000;
        transform: translate(1px, 1px);
    }
    100% {
        text-shadow: 3px 0 #ff0000, -3px 0 #00ffff;
        transform: translate(0);
    }
}